#jira {
  filter: invert(88%);
  background-color: #191919 !important;
}

[role="img"], img, .gadget-container, [style^="background-image:"][style*="border-radius:"] {
  filter: invert(1) !important;
}

.media-viewer-popup {
  filter: invert(1) !important;
}
